body {
	margin: 20px;
	background-color: #e6e6e6;
}

header {
	margin: 0px, 0px, 0px, 0px;
}

nav {
	margin: 0px, 0px, 0px, 0px;
}

h1{
	padding: 15px;
	color :#ffffff;
	background-color: #c80000;
}

section{
	margin: 0px, 0px, 0px, 0px;
	padding: 0px, 0px, 0px, 0px;
	background-color: #fefefe;
}

footer {
	margin: 5px, 0px,  10px, 5px;
	padding: 5px, 0px,  5px, 0px;
	font-size: 0.7em;
}

div {
	margin: 0px;
	padding: 0px, 0px,  0px, 0px;
}

table{
	margin: 20px;
}

p {
	margin: 20px;
	padding: 10px, 0px,  10px, 0px;
	text-align: justify;
}

xmp {	
	margin: 20px;
	padding: 10px, 0px,  10px, 0px;
	text-align: justify;
	white-space: pre-wrap;
}

form {
	margin: 10px;
	padding: 10px;
}

.left{
	float: left;
}

.right{
	float: right;	
}

.clear{
	clear: both;
	margin: 0px, 0px,  0px, 0px;
}

a:link {
    color: #c80000;
}

a:visited {
    color: #c80000;
}

a:focus {
	color: #c80000;
}

 a:hover {
    color: #ffffff;
}

a:active {
     color: #ffffff;
}
